name: Github Package

on:
  release:
    types: [published]

jobs:
  updateDataAndRelease:
    name: Github Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.0.0
      - name: Chmod
        run: chmod +x ./script/release.sh
      - name: Update data and release
        run: npm run release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
      - uses: actions/setup-node@v3.8.1
        with:
          node-version: '12'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@taistudio'
      - run: npm install
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}
          