name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: "16"
      - name: Install dependencies
        run: "npm install"
      - name: Run tests
        run: "npm test"
